body {
    font: 20px/32px Georgia,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	background: url("../images/linen.png") repeat scroll center top #AFAFAF;
}

h1 {font-style: italic;}

#wrap {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
	color: #2B2B2B;
	text-shadow: 0 1px 1px #8D8E90;
}

